@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

:root {
  /* pages font */
  --fs-h1: clamp(5rem, 8rem, 10rem);
  --pages: 2rem;
  --fs-li: 1rem;
  --fs-600: 6rem;
  --fs-500: 2.3rem;
  --fs-300: 2.7rem;
  --fs-400: 2rem;
  --fs-200: 1rem;
  --fs-100: 1rem;
  
  /* page-3 */
  --fs-question: 2rem;
  --fs-answer: 1.5rem;
  
  /* page-4 */
  --fs-btnTitle: 10rem;
  --fs-detail: 2.5rem;
  
  /* page-5 */
  --fs-main5: 6rem;
  --fs-second5: 4rem;
  --fs-url: 3rem;
}

@font-face {
    font-family: "icomoon";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

/* === pages === */
.pages {
  width: 100%;
  height: 100vh;
}

h4 {
  opacity: 0;
  margin-left: 2%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--pages);
}

/* === page-1 === */
/* === header section === */
.header {
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1.3rem;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.navbar .home {
  display: none; 
}

.navbar .home a {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: var(--fs-300);
  color: inherit;
  text-decoration: none;
}

.navbar .home sup {
  position: relative;
  bottom: 0.7em;
  font-size: 0.7rem;
}

.navbar .indonesia p,
.navbar .porto p {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: var(--fs-100);
}

.navbar .indonesia {
  margin-left: 2%;
  display: none;
}

.navbar .porto {
  margin-right: 2%;
  display: none;
}

/* === main section === */
.main {
  position: relative;
  top: 7rem;
}

h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: var(--fs-h1);
  line-height: 120px;
  font-weight: 600;
  font-style: italic;
  margin-left: 2%;
  padding-right: 0.5rem;
  display: none;
}

.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  padding-bottom: 2%;
  overflow: hidden;
}

.navurl {
  display: none;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-top: 5%;
  padding: 2% 0;
  list-style-type: none;
  background: black;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
}

.navurl #work,
.navurl #about,
.navurl #contact,
.navurl .build {
  display: none;
}

.navurl li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--fs-li);
  color: white;
}

.navurl li a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--fs-500);
  font-weight: 500;
  position: relative;
  color: white;
  text-decoration: none;
}

.navurl li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.navurl li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navurl .build p {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: var(--fs-100);
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

.footer > ul.navfoot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 130px;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
}

.navfoot .footer-one {
  text-align: center;
  display: none;
}

.navfoot li {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: var(--fs-400);
}

/* ===page-2=== */
.page-2 .header {
  margin-left: 5%;
}

.page-2 .header p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--pages);
}

.main2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20%;
  margin: 2% 5%;
}

.main2 img {
  max-width: 40vw;
  max-height: 80vh;
}

.main2 .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10%;
}

.main2 h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--fs-600);
  font-weight: 600;
  max-width: 40vw;
  margin-bottom: 7%;
}

.main2 p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: var(--fs-400);
  max-width: 40vw;
  overflow-wrap: break-word;
  margin-bottom: 5%;
}

/* ===page-3=== */
.page-3 {
  margin-top: 5%;
}

.page-3 .header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6%;
  margin-left: 5%;
  margin-bottom: 4%;
}

.page-3 .header p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--pages);
}

.page-3 .header h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: var(--fs-600);
}

.main3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: var(--fs-500);
  margin: 2rem 0;
  max-width: 500px;
  overflow-wrap: break-word;
}

.skillsShowcase {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid black;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: var(--fs-question);
}

.question img {
  transform: rotate(-0.25turn);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-out;
}

.answer p {
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 1rem;
  line-height: 1.6;
  font-size: var(--fs-answer);
}

.skills.active .answer {
  max-height: 300px;
  animation: fade 0.7s ease-in-out;
}

.skills.active img {
  transform: rotate(0.25turn);
}

img {
  transition: transform .3s ease-in;
}

/* ===page-4=== */
.page-4 .header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6%;
  margin-left: 5%;
  margin-bottom: 4%;
}

.page-4 .header p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--pages);
}

.page-4 .header h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: var(--fs-600);
}

.main4 .interestCarousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
}

.main4 .interestCarousel::-webkit-scrollbar  {
  display: none;
}

.main4 .interestCarousel > button {
  font-family: 'Roboto Condesend', sans-serif;
  font-size: var(--fs-btnTitle);
  font-weight: 400;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  color: #adb5bd;
  transition: color 200ms linear;
  -o-transition: color 200ms linear; /* opera */
  -ms-transition: color 200ms linear; /* IE 10 */
  -moz-transition: color 200ms linear; /* Firefox */
  -webkit-transition: color 200ms linear; /*safari and chrome */
}

.main4 .interestCarousel > button:hover {
  cursor: pointer;
  color: #6c757d;
  transition: color 200ms linear;
  -o-transition: color 200ms linear; /* opera */
  -ms-transition: color 200ms linear; /* IE 10 */
  -moz-transition: color 200ms linear; /* Firefox */
  -webkit-transition: color 200ms linear; /*safari and chrome */
}

.main4 .interestDetail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  margin-top: 5%;
}

.main4 .interestCarousel > button.active {
  color: black;
}

.main4 .interestDetail img {
  width: 700px;
  height: 400px;
}

.main4 .interestDetail .detailTitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--fs-detail);
}

.main4 .interestDetail p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--fs-detail);
  max-width: 520px;
  overflow-wrap: break-word;
}

.main4 .gamingDetail {
  animation: fade 0.7s ease-in-out;
}

.main4 .musicDetail {
  display: none;
  animation: fade 0.7s ease-in-out;
}

/* ===page-5=== */
#page-5 {
  height: 90vh;
}

.page-5 .header {
  margin-left: 5%;
}

.page-5 .header p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
}

.main5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.main5 h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--fs-main5);
  font-weight: 600;
  margin-bottom: 1%;
}

.main5 p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--fs-second5);
  font-weight: 500;
  margin-bottom: 10%;
}

.main5 a {
  margin:0;
  padding:0;
  font-size:var(--fs-url);
  text-transform:uppercase;
  position:relative;
  color:#6c757d;
}

.main5 a:before {
  content:"H͟E͟L͟L͟O͟@͟K͟I͟D͟A͟D͟I͟T͟Y͟A͟V͟I͟N͟S͟C͟E͟N͟T͟.͟C͟O͟M͟";
  position:absolute;
  color:black;
  top:0;
  left:0;
  width:0%;
  overflow:hidden;
  transition:all 0.5s;
}

.main5 a:hover:before {
  width:100%;
  cursor: crosshair;
}


/* === responsive === */
/* 1200px */
@media (max-width: 1200px) {
  :root {
    /* pages font */
    --pages: 2rem;
    --fs-li: 1rem;
    --fs-li: .8rem;
    --fs-500: 2.1rem;
    --fs-400: 1.5rem;
    --fs-300: 1.8rem;
    --fs-200: .9rem;
    --fs-100: .9rem;
    
    /* page-3 */
    --fs-question: 1.8rem;
    --fs-answer: 1.3rem;
    
    /* page-4 */
    --fs-btnTitle: 8rem;
    --fs-detail: 2rem;
    
    /* page-5 */
    --fs-main5: 6rem;
    --fs-second5: 4rem;
    --fs-url: 3rem;
  }

  .main3 {
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: 8%;
    min-height: 0;
  }

  .main4 .interestDetail {
    justify-content: center;
    gap: 3rem;
    margin-left: 5%;
  }

  .main4 .interestDetail img {
    width: 600px;
    height: 350px;
  }
}

/* 1024 */
@media (max-width: 1024px) {
  :root {
    /* pages font */
    --pages: 1.8rem;
    --fs-li: .9rem;
    --fs-li: .8rem;
    --fs-500: 1.4rem;
    --fs-400: 1.5rem;
    --fs-300: 1.8rem;
    --fs-200: .8rem;
    --fs-100: .8rem;
    
    /* page-3 */
    --fs-question: 1.4rem;
    --fs-answer: 1.1rem;
    
    /* page-4 */
    --fs-btnTitle: 6rem;
    --fs-detail: 1.3rem;
    
    /* page-5 */
    --fs-main5: 4rem;
    --fs-second5: 2.3rem;
    --fs-url: 2rem;
  }

  .main4 .interestDetail {
    flex-direction: column;
    gap: 2rem;
  }
}

/* 768px */
@media (max-width: 768px) {
  :root {
    /* pages font */
    --fs-h1: 4rem;
    --pages: 1.5rem;
    --fs-li: 0.7rem;
    --fs-li: .5rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-300: 1.5rem;
    --fs-200: .8rem;
    --fs-100: .8rem;
    
    /* page-3 */
    --fs-question: 1.5rem;
    --fs-answer: 1rem;
    
    /* page-4 */
    --fs-btnTitle: 4.5rem;
    --fs-detail: 1.3rem;
    
    /* page-5 */
    --fs-main5: 4rem;
    --fs-second5: 2rem;
    --fs-url: 1.8rem;
  }

  .navbar {
    justify-content: center;
  }

  .navbar .porto p,
  .navbar .indonesia p {
    display: none;
  }

  .navbar .porto .minibar {
    display: flex;
  }

  .navurl {
    background: #e5e5e5;
  }

  .navurl li {
    opacity: 0;
  }

  .navurl li a,
  .navurl li p {
    display: none;
  }

  .skills {
    max-width: 600px;
  }
}

/* 480px */
@media (max-width: 480px) {
  :root {
    /* pages font */
    --fs-h1: 4rem;
    --pages: 1.2rem;
    --fs-li: 0.5rem;
    --fs-li: .3rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
    --fs-300: 1.8rem;
    --fs-200: .8rem;
    --fs-100: .8rem;
    
    /* page-3 */
    --fs-question: 1.2rem;
    --fs-answer: 1rem;
    
    /* page-4 */
    --fs-btnTitle: 3rem;
    --fs-detail: 1rem;
    
    /* page-5 */
    --fs-main5: 3rem;
    --fs-second5: 1.8rem;
    --fs-url: 1.5rem;
  }


  .skills {
    max-width: 410px;
  }

  /* main4 */
  .main4 .interestDetail img {
    width: 400px;
    height: 230px;
  }

  .main4 .interestDetail p {
    max-width: 390px;
  }
}

/* animation */
@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opacity-slide-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
    }
    100% {
      opacity: 1;
    }
  }

@keyframes title-slide-up {
    0% {
      transform: translateY(180px);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes slide-up-head {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* paralax effect */
.hidden {
  opacity: 0;
  transition: all 0.4s ease-in;
}

.show {
  opacity: 1;
}

/* ==== scrollbar ==== */
*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}