:root {
  --fs-600: 2.5rem;
  --fs-num: 12rem;
  --fs-percentage: 5.5rem;
}

/* preloader section*/
.preloader {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #070707;
    z-index: 9999;
  }
  
  .preloader::before {
    content: '#003';
    position: absolute;
    top: 3%;
    left: 1%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: var(--fs-600);
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
  }
  
  .preloader::after {
    content: 'Contact';
    white-space: pre;
    position: absolute;
    top: 9%;
    left: 1%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: var(--fs-600);
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
  }
  
  .active {
    transform: translateY(-100vh);
    transition: ease-in-out 2s;
    transition-delay: 1s;
  }
  
  /* counter section */
  .counter {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: #070707;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 100;
    font-size: var(--fs-num);
    font-size: 600;
    z-index: 1;
  }
  
  .counter::after {
    content: '%';
    font-size: var(--fs-percentage);
    margin-right: 2vw;
  }
  
  .hide {
    opacity: 0;
    transition: 1s;
    pointer-events: none;
  }

  /* media query */
@media (max-width: 1200px) {
  :root {
    --fs-600: 2rem;
    --fs-num: 10rem;
    --fs-percentage: 5rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --fs-600: 1.8rem;
    --fs-num: 9rem;
    --fs-percentage: 4rem;
  }
}

@media (max-width: 768px) {
  :root {
    --fs-600: 1.6rem;
    --fs-num: 8rem;
    --fs-percentage: 3rem;
  }

  .preloader::after {
    top: 7%;
  }
}

@media (max-width: 480px) {
  :root {
    --fs-600: 1rem;
    --fs-num: 6rem;
    --fs-percentage: 3rem;
  }

  .preloader::after {
    top: 5%;
  }
}