@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

/* header section */
header {
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1.3rem;
  width: 100%;
  overflow: hidden;
}

.navbar .home {
  display: none;
}

.navbar .home a {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
  color: black;
  text-decoration: none;
}

.navbar .home sup {
  position: relative;
  bottom: 0.7em;
  font-size: 0.7rem;
}

.navbar p {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
}

.navbar .indonesia {
  margin-left: 2%;
  display: none;
}

.navbar .porto {
  margin-right: 2%;
  display: none;
}

/* main section */
main {
  position: relative;
  top: 7rem;
}

h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 7rem;
  line-height: 120px;
  font-weight: 600;
  margin-left: 2%;
  display: none;
  /* animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both; */
}

.title1, .title2 {
  overflow: hidden;
}

.navurl {
  display: none;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-top: 5%;
  padding: 2% 0;
  list-style-type: none;
  background-color: black;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
}

.navurl #work,
.navurl #about,
.navurl #contact,
.navurl .build {
  display: none;
}

.navurl li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  color: white;
}

.navurl li a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  position: relative;
  color: white;
  text-decoration: none;
}

.navurl li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.navurl li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navurl .build p {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: .8vw;
}

/* footer */
footer {
  position: relative;
  bottom: 0;
}

iframe {
  pointer-events: none;
  visibility: hidden;
}

ul.navfoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 7.1rem;
  padding-left: 6.5%;
  padding-right: 10.5%;
  list-style-type: none;
  overflow: hidden;
}

.navfoot .animated-head {
  padding-right: 2.3%;
}

.navfoot .footer-left,
.navfoot .footer-right {
  text-align: center;
  display: none;
}

.navfoot li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
}

/* animation */
@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up-head {
  0% {
    transform: translateY(100px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
