@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  box-sizing: border-box;
};

/* header section */
header {
  z-index: 1;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1.3rem;
  width: 100%;
}

header .navbar .home a {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: black;
  text-decoration: none;
}

header .navbar .home sup {
  position: relative;
  bottom: 0.7em;
  font-size: 0.7rem;
}

header .navbar p {
  font-size: 0.3em;
  margin-left: 6em;
  margin-right: 6em;
}

/* main section */
main {
  position: relative;
  top: 7rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

main h1 {
  font-family: 'Plus Jakarta Sans';
  font-size: 4rem;
  font-weight: 600;
}

main .navurl {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin-top: 3%;
  padding: 2% 0;
  list-style-type: none;
}

.navurl li a {
  color: black;
  text-decoration: none;
}